
*,
*:before,
*:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  background-color: #0a0a0a;
}

nav{
   height:auto;
   width: auto;
   min-width: 600px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 0;
}
a{
  position: relative;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
  color: #a0a0a0;
  /*  */
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0.10px;
}
a:after{
  content: "";
  position: absolute;
  background-color: #50B7E2;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
a:hover{
  color: #ffffff;
}
a:hover:after{
    width: 100%;

}
.btn-1{
  background-color: #50B7E2;
  padding: 0.7rem;
  border-radius: 2rem;
  font-weight: bold;
}

.btn-3{
  background-color: white;
  margin-top: 5px;
  align-items: center;
}
/* #5865F2 */
.btn-2{
   background-image: url("play.png");
  padding: 0.7rem;
  border-radius: 2rem;
  height: 5px;
  width: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
  color: #0e1b4d;
}
.header{
  height: 100vh;
   background-image: url("g1.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.navbar{
  position: absolute;
  display: flex;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 7;
}
.styles{
  color: #50b7e2;
  font-size: 36px;
  font-family: "Raleway",sans-serif;
  font-weight: bold;
}
.overlay{
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}
.text-area{
  color: white;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

}

#basic .play-btn {
  width: 94px;
  height: 94px;
  /* background: radial-gradient(#50b7e2 50%, rgba(101, 111, 150, 0.15) 52%);
  border-radius: 50%; */
  background-color: #00c6f2;
  display: block;
  position: relative;
  /* overflow: hidden; */
  font-weight: bold;
}

 #basic .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#basic .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(88, 101, 242, 0.4);
  top: -15%;
  left: -15%;
  background: rgba(88, 101, 242 0);
   /* font-size: 15px;
  color: white;  */
}
 #basic .play-btn:hover::after {
  border-left: 15px solid #50b7e2;
  -webkit-transform: scale(20);
  transform: scale(20);
}

#basic .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 145px;
}

#basic .button {
  width: 94px;
  height: 94px;
  background: #50b7e2;
   background: radial-gradient(#50b7e2 50%, rgba(101, 111, 150, 0.12) 52%);
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
  border: none;
  }

#basic button::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
     border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);

  }
#basic button::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
   border-radius: 50%;
   border: 2px solid rgba(163, 163, 163, 0.4);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}


#basic button:hover::before, button:focus::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
   border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}



#basic button:hover::after, button:focus::after {
  border-left: 15px solid #50b7e2;
-webkit-transform: scale(20);
transform: scale(20);
}

@keyframes ring {
  0% {
     width: 30px;
    height: 30px;
    opacity: 1;
  }
   100% {
     width: 300px;
    height: 300px;
    opacity: 0;
  }
}

#basic h1{
  color: transparent;
  -webkit-text-stroke: 1px #50b7e2;
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 600;
  text-transform: uppercase;
  background: url(whiteback.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: mymove 22s linear infinite;
}
@keyframes mymove {
  100% {
    background-position: 2000px 0;
  }
}
#about-page {
background: url("about-bg1.jpg");
background-size: cover;
overflow: hidden;
position: relative;
color: #fff;
padding: 60px 0 40px 0;
}

#about-page:before {
content: "";
background: transparent;
position: absolute;
bottom: 0;
top: 0;
left: 0;
right: 0;
}

#about-page h2{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

#about-page h3{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #fff;
}

#about-page p{
  font-size: 14px;
  margin-bottom: 20px;
  color: #fff;
}
#awards-section{
  padding: 60px 0 60px 0;
}
.awards-section{
  margin-bottom: 60px;
  position: relative;
  padding-bottom: 20px;
}

.awards-section::before{
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: #50b7e2;
  bottom: 0;
  left: calc(50% - 25px);
}
a.btn {
  background-color: transparent;
  border: 1px solid #112363;
  color: #112363;
  border-radius: 8px;

  /* margin-left: 45%; */
}

a.btn:hover {
  background-color: #50b7e2;
  color: #fff;
}

.card-shadow:hover {
  box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.45);
}
.awards-section h2{
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

.awards-section p{
 text-align: center;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #9195a2;
}

 .section-with-bg{
    background-color: #f6f7fd;
}
/*.hide{
  visibility: hidden;
} */
 /* #vertical{
  width: 90% !important;
} */
.problems-section{
  padding: 60px 0 60px 0;
}
.hide-1{
  clear: both;
}
.element {
  height: 250px;
  width: 90% !important;
  border: 1px solid #10224d;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.wrapper {
  display: block;
  position: absolute;
}
.back{
  background-color: white;

}
.init {
  display: block;
  height: 250px;
   /* width: 550px !important;  */

  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
.short {
  display: block;
  height: 250px;
  padding-top: 20% !important;
  /* width: 550px !important; */
  color: rgb(255, 255, 255);
  background: rgba(6, 12, 34, 0.98);
  align-items: center;
}
  .section-background {
  background-color: #f6f7fd;
}

.card-shadow-without {
  box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.95);
  -webkit-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.95);
  -moz-box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.95);
}

.card-head {
   /* margin-top: 15%; */
  margin-top: 95px;
}

.card-btn {
  background-color: white !important;
  color: #040919 !important;
  margin-left: 0 !important;
}

.card-btn:hover {
  background-color: #50b7e2 !important;
  color: white !important;
}
 /* @media (max-width: 575px){
  .element,
  .init,
  .short {
    height: 250px;
  }
  .card-head {
    margin-top: 95px;
  }
  .short{
    padding-top: 20% !important;
  }
} */












.timeline {
  width: 100%;
  position: relative;
  padding: 1px 0;
  list-style: none;
  font-weight: 300;
  filter: blur(4px);
}
.timeline .timeline-item {
  padding-left: 0;
  padding-right: 30px;
}
.timeline .timeline-item.timeline-item-right,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
  padding-left: 30px;
  padding-right: 0;
}
.timeline .timeline-item .timeline-event {
  width: 100%;
}
.timeline:before {
  border-right-style: solid;
}
.timeline:before,
.timeline:after {
  content: " ";
  display: block;
}
.timeline:after {
  clear: both;
}
.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 100% !important;
  margin-left: 1px;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #10224d;
}
.timeline.timeline-single-column.timeline {
  width: 100%;
  max-width: 768px;
}
.timeline.timeline-single-column.timeline .timeline-item {
  padding-left: 72px;
  padding-right: 0;
}
.timeline.timeline-single-column.timeline .timeline-item.timeline-item-right,
.timeline.timeline-single-column.timeline
  .timeline-item:nth-of-type(even):not(.timeline-item-left) {
  padding-left: 72px;
  padding-right: 0;
}
.timeline.timeline-single-column.timeline .timeline-item .timeline-event {
  width: 100%;
}
.timeline.timeline-single-column.timeline:before {
  left: 42px;
  width: 0;
  margin-left: -1px;
}
.timeline.timeline-single-column.timeline .timeline-item {
  width: 100%;
  margin-bottom: 20px;
}
.timeline.timeline-single-column.timeline .timeline-item:nth-of-type(even) {
  margin-top: 0;
}
.timeline.timeline-single-column.timeline .timeline-item > .timeline-event {
  float: right !important;
}
.timeline.timeline-single-column.timeline
  .timeline-item
  > .timeline-event:before,
.timeline.timeline-single-column.timeline
  .timeline-item
  > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important;
}
.timeline.timeline-single-column.timeline
  .timeline-item
  > .timeline-event:before {
  left: -15px !important;
  border-right-width: 15px !important;
}
.timeline.timeline-single-column.timeline
  .timeline-item
  > .timeline-event:after {
  left: -14px !important;
  border-right-width: 14px !important;
}
.timeline.timeline-single-column.timeline .timeline-item > .timeline-point {
  transform: translateX(-50%);
  left: 42px !important;
  margin-left: 0;
}
.timeline.timeline-single-column.timeline .timeline-label {
  transform: translateX(-50%);
  margin: 0 0 20px 42px;
}
.timeline.timeline-single-column.timeline
  .timeline-label
  + .timeline-item
  + .timeline-item {
  margin-top: 0;
}
.timeline.timeline-line-solid:before {
  border-right-style: solid;
}
.timeline.timeline-line-dotted:before {
  border-right-style: dotted;
}
.timeline.timeline-line-dashed:before {
  border-right-style: dashed;
}
.timeline .timeline-item {
  position: relative;
  float: left;
  clear: left;
  width: 50%;
  margin-bottom: 20px;
}
.timeline .timeline-item:before,
.timeline .timeline-item:after {
  content: "";
  display: table;
}
.timeline .timeline-item:after {
  clear: both;
}
.timeline .timeline-item:last-child {
  margin-bottom: 0 !important;
}
.timeline .timeline-item.timeline-item-right > .timeline-event,
.timeline
  .timeline-item:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event {
  float: right !important;
}
.timeline .timeline-item.timeline-item-right > .timeline-event:before,
.timeline
  .timeline-item:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:before,
.timeline .timeline-item.timeline-item-right > .timeline-event:after,
.timeline
  .timeline-item:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important;
}
.timeline .timeline-item.timeline-item-right > .timeline-event:before,
.timeline
  .timeline-item:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:before {
  left: -15px !important;
  border-right-width: 15px !important;
}
.timeline .timeline-item.timeline-item-right > .timeline-event:after,
.timeline
  .timeline-item:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:after {
  left: -14px !important;
  border-right-width: 14px !important;
}
.timeline .timeline-item > .timeline-event:before {
  top: 10px;
  right: -15px;
  border-top: 15px solid transparent;
  border-left-width: 15px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 15px solid transparent;
}
.timeline .timeline-item > .timeline-event:after {
  top: 11px;
  right: -14px;
  border-top: 14px solid transparent;
  border-left-width: 14px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 14px solid transparent;
}
.timeline .timeline-item > .timeline-point {
  top: 25px;
}
.timeline-single-column.timeline .timeline-item > .timeline-event {
  float: right !important;
}
.timeline-single-column.timeline .timeline-item > .timeline-event:before,
.timeline-single-column.timeline .timeline-item > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important;
}
.timeline-single-column.timeline .timeline-item > .timeline-event:before {
  left: -15px !important;
  border-right-width: 15px !important;
}
.timeline-single-column.timeline .timeline-item > .timeline-event:after {
  left: -14px !important;
  border-right-width: 14px !important;
}
.timeline .timeline-item:nth-of-type(2) {
  margin-top: 40px;
}
.timeline .timeline-item.timeline-item-left,
.timeline .timeline-item.timeline-item-right {
  clear: both !important;
}
.timeline .timeline-item.timeline-item-right,
.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
  float: right;
  clear: right;
}
.timeline .timeline-item.timeline-item-right > .timeline-point,
.timeline
  .timeline-item:nth-of-type(even):not(.timeline-item-left)
  > .timeline-point {
  left: -24px;
}
.timeline
  .timeline-item.timeline-item-right
  > .timeline-point.timeline-point-blank,
.timeline
  .timeline-item:nth-of-type(even):not(.timeline-item-left)
  > .timeline-point.timeline-point-blank {
  left: -12px;
}
.timeline
  .timeline-item.timeline-item-arrow-sm.timeline-item-right
  > .timeline-event,
.timeline
  .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event {
  float: right !important;
}
.timeline
  .timeline-item.timeline-item-arrow-sm.timeline-item-right
  > .timeline-event:before,
.timeline
  .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:before,
.timeline
  .timeline-item.timeline-item-arrow-sm.timeline-item-right
  > .timeline-event:after,
.timeline
  .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important;
}
.timeline
  .timeline-item.timeline-item-arrow-sm.timeline-item-right
  > .timeline-event:before,
.timeline
  .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:before {
  left: -10px !important;
  border-right-width: 10px !important;
}
.timeline
  .timeline-item.timeline-item-arrow-sm.timeline-item-right
  > .timeline-event:after,
.timeline
  .timeline-item.timeline-item-arrow-sm:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:after {
  left: -9px !important;
  border-right-width: 9px !important;
}
.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:before {
  top: 4px;
  right: -10px;
  border-top: 10px solid transparent;
  border-left-width: 10px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 10px solid transparent;
}
.timeline .timeline-item.timeline-item-arrow-sm > .timeline-event:after {
  top: 5px;
  right: -9px;
  border-top: 9px solid transparent;
  border-left-width: 9px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 9px solid transparent;
}
.timeline .timeline-item.timeline-item-arrow-sm > .timeline-point {
  top: 14px;
}
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-sm
  > .timeline-event {
  float: right !important;
}
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-sm
  > .timeline-event:before,
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-sm
  > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important;
}
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-sm
  > .timeline-event:before {
  left: -10px !important;
  border-right-width: 10px !important;
}
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-sm
  > .timeline-event:after {
  left: -9px !important;
  border-right-width: 9px !important;
}
.timeline
  .timeline-item.timeline-item-arrow-md.timeline-item-right
  > .timeline-event,
.timeline
  .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event {
  float: right !important;
}
.timeline
  .timeline-item.timeline-item-arrow-md.timeline-item-right
  > .timeline-event:before,
.timeline
  .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:before,
.timeline
  .timeline-item.timeline-item-arrow-md.timeline-item-right
  > .timeline-event:after,
.timeline
  .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important;
}
.timeline
  .timeline-item.timeline-item-arrow-md.timeline-item-right
  > .timeline-event:before,
.timeline
  .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:before {
  left: -15px !important;
  border-right-width: 15px !important;
}
.timeline
  .timeline-item.timeline-item-arrow-md.timeline-item-right
  > .timeline-event:after,
.timeline
  .timeline-item.timeline-item-arrow-md:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:after {
  left: -14px !important;
  border-right-width: 14px !important;
}
.timeline .timeline-item.timeline-item-arrow-md > .timeline-event:before {
  top: 10px;
  right: -15px;
  border-top: 15px solid transparent;
  border-left-width: 15px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 15px solid transparent;
}
.timeline .timeline-item.timeline-item-arrow-md > .timeline-event:after {
  top: 11px;
  right: -14px;
  border-top: 14px solid transparent;
  border-left-width: 14px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 14px solid transparent;
}
.timeline .timeline-item.timeline-item-arrow-md > .timeline-point {
  top: 25px;
}
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-md
  > .timeline-event {
  float: right !important;
}
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-md
  > .timeline-event:before,
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-md
  > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important;
}
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-md
  > .timeline-event:before {
  left: -15px !important;
  border-right-width: 15px !important;
}
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-md
  > .timeline-event:after {
  left: -14px !important;
  border-right-width: 14px !important;
}
.timeline
  .timeline-item.timeline-item-arrow-lg.timeline-item-right
  > .timeline-event,
.timeline
  .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event {
  float: right !important;
}
.timeline
  .timeline-item.timeline-item-arrow-lg.timeline-item-right
  > .timeline-event:before,
.timeline
  .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:before,
.timeline
  .timeline-item.timeline-item-arrow-lg.timeline-item-right
  > .timeline-event:after,
.timeline
  .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important;
}
.timeline
  .timeline-item.timeline-item-arrow-lg.timeline-item-right
  > .timeline-event:before,
.timeline
  .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:before {
  left: -18px !important;
  border-right-width: 18px !important;
}
.timeline
  .timeline-item.timeline-item-arrow-lg.timeline-item-right
  > .timeline-event:after,
.timeline
  .timeline-item.timeline-item-arrow-lg:nth-of-type(even):not(.timeline-item-left)
  > .timeline-event:after {
  left: -17px !important;
  border-right-width: 17px !important;
}
.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:before {
  top: 10px;
  right: -18px;
  border-top: 18px solid transparent;
  border-left-width: 18px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 18px solid transparent;
}
.timeline .timeline-item.timeline-item-arrow-lg > .timeline-event:after {
  top: 11px;
  right: -17px;
  border-top: 17px solid transparent;
  border-left-width: 17px;
  border-left-style: solid;
  border-right-width: 0;
  border-right-style: solid;
  border-bottom: 17px solid transparent;
}
.timeline .timeline-item.timeline-item-arrow-lg > .timeline-point {
  top: 28px;
}
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-lg
  > .timeline-event {
  float: right !important;
}
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-lg
  > .timeline-event:before,
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-lg
  > .timeline-event:after {
  right: auto !important;
  border-left-width: 0 !important;
}
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-lg
  > .timeline-event:before {
  left: -18px !important;
  border-right-width: 18px !important;
}
.timeline-single-column.timeline
  .timeline-item.timeline-item-arrow-lg
  > .timeline-event:after {
  left: -17px !important;
  border-right-width: 17px !important;
}
.timeline .timeline-item > .timeline-event {
  background: #fff;
  border: 1px solid #10224d;
  color: #10224d;
  position: relative;
  float: left;
  border-radius: 3px;
}
.timeline .timeline-item > .timeline-event:before {
  border-left-color: #10224d;
  border-right-color: #10224d;
}
.timeline .timeline-item > .timeline-event:after {
  border-left-color: #fff;
  border-right-color: #fff;
}
.timeline .timeline-item > .timeline-event * {
  color: inherit;
}
.timeline .timeline-item > .timeline-event.timeline-event-default {
  background: #fff;
  border: 1px solid #10224d;
  color: #10224d;
  border-radius: 10px;
}
.timeline .timeline-item > .timeline-event.timeline-event-default:before {
  border-left-color: #10224d;
  border-right-color: #10224d;
}
.timeline .timeline-item > .timeline-event.timeline-event-default:after {
  border-left-color: #fff;
  border-right-color: #fff;
}
.timeline .timeline-item > .timeline-event.timeline-event-default * {
  color: inherit;
}
.timeline .timeline-item > .timeline-event.timeline-event-primary {
  background: #f5f5f5;
  border: 1px solid #10224d;
  color: #10224d;
}
.timeline .timeline-item > .timeline-event.timeline-event-primary:before {
  border-left-color: #10224d;
  border-right-color: #10224d;
}
.timeline .timeline-item > .timeline-event.timeline-event-primary:after {
  border-left-color: #f5f5f5;
  border-right-color: #f5f5f5;
}
.timeline .timeline-item > .timeline-event.timeline-event-primary * {
  color: inherit;
}
.timeline .timeline-item > .timeline-event:before,
.timeline .timeline-item > .timeline-event:after {
  content: "";
  display: inline-block;
  position: absolute;
}
.timeline .timeline-item > .timeline-event .timeline-heading,
.timeline .timeline-item > .timeline-event .timeline-body,
.timeline .timeline-item > .timeline-event .timeline-footer {
  padding: 4px 10px;
}
.timeline .timeline-item > .timeline-event .timeline-heading p,
.timeline .timeline-item > .timeline-event .timeline-body p,
.timeline .timeline-item > .timeline-event .timeline-footer p,
.timeline .timeline-item > .timeline-event .timeline-heading ul,
.timeline .timeline-item > .timeline-event .timeline-body ul,
.timeline .timeline-item > .timeline-event .timeline-footer ul {
  margin-bottom: 0;
}
.timeline .timeline-item > .timeline-event .timeline-heading h4 {
  font-weight: 400;
}

.timeline .timeline-item > .timeline-event .timeline-footer a {
  cursor: pointer;
  text-decoration: none;
}
.timeline .timeline-item > .timeline-event .panel,
.timeline .timeline-item > .timeline-event .table,
.timeline .timeline-item > .timeline-event .blankslate {
  margin: 0;
  border: none;
  border-radius: inherit;
  overflow: hidden;
}
.timeline .timeline-item > .timeline-event .table th {
  border-top: 0;
}
.timeline .timeline-item > .timeline-point {
  color: #10224d;
  background: #fff;
  right: -24px;
  width: 24px;
  height: 24px;
  margin-top: -12px;
  margin-left: 12px;
  margin-right: 12px;
  position: absolute;
  z-index: 100;
  border-width: 2px;
  border-style: solid;
  border-radius: 100%;
  line-height: 20px;
  text-align: center;
}
.timeline .timeline-item > .timeline-point.timeline-point-blank {
  right: -12px;
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: 6px;
  margin-right: 6px;
  color: #10224d;
  background: white;
}
.timeline .timeline-item > .timeline-point.timeline-point-default {
  color: #10224d;
  background: #fff;
}
.timeline .timeline-label {
  position: relative;
  float: left;
  clear: left;
  width: 50%;
  margin-bottom: 20px;
  top: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
}
.timeline .timeline-label:before,
.timeline .timeline-label:after {
  content: "";
  display: table;
}
.timeline .timeline-label:after {
  clear: both;
}
.timeline .timeline-label:last-child {
  margin-bottom: 0 !important;
}
.timeline .timeline-label + .timeline-item {
  margin-top: 0;
}
.timeline .timeline-label + .timeline-item + .timeline-item {
  margin-top: 40px;
}

.timeline .timeline-label .label-primary {
  background-color: #10224d;
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

@media (max-width: 768px) {
  .timeline.timeline {
    width: 100%;
    max-width: 100%;
  }
  .timeline.timeline .timeline-item {
    padding-left: 72px;
    padding-right: 0;
  }
  .timeline.timeline .timeline-item.timeline-item-right,
  .timeline.timeline .timeline-item:nth-of-type(even):not(.timeline-item-left) {
    padding-left: 72px;
    padding-right: 0;
  }
  .timeline.timeline .timeline-item .timeline-event {
    width: 100%;
  }
  .timeline.timeline:before {
    left: 42px;
    width: 0;
    margin-left: -1px;
  }
  .timeline.timeline .timeline-item {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline.timeline .timeline-item:nth-of-type(even) {
    margin-top: 0;
  }
  .timeline.timeline .timeline-item > .timeline-event {
    float: right !important;
  }
  .timeline.timeline .timeline-item > .timeline-event:before,
  .timeline.timeline .timeline-item > .timeline-event:after {
    right: auto !important;
    border-left-width: 0 !important;
  }
  .timeline.timeline .timeline-item > .timeline-event:before {
    left: -15px !important;
    border-right-width: 15px !important;
  }
  .timeline.timeline .timeline-item > .timeline-event:after {
    left: -14px !important;
    border-right-width: 14px !important;
  }
  .timeline.timeline .timeline-item > .timeline-point {
    transform: translateX(-50%);
    left: 42px !important;
    margin-left: 0;
  }
  .timeline.timeline .timeline-label {
    transform: translateX(-50%);
    margin: 0 0 20px auto;
  }
  .timeline.timeline .timeline-label + .timeline-item + .timeline-item {
    margin-top: 0;
  }
}


#partners {
  padding: 60px 0;
}
#partners .partners-wrapper {
  border-top: 1px solid #e0e5fa;
  border-left: 1px solid #e0e5fa;
  margin-bottom: 30px;
}

#partners .partner-logo {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #e0e5fa;
  border-bottom: 1px solid #e0e5fa;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
  height: 160px;
}

#partners .partner-logo:hover img {
  -webkit-transform: scale(1);
  transform: scale(1.15);
}

#partners img {
  transition: all 0.4s ease-in-out;
}



#faq {
  padding: 60px 0;
}

#faq #faq-list {
  padding: 0;
  list-style: none;
}

#faq #faq-list li {
  border-bottom: 1px solid #ddd;
}

#faq #faq-list a {
  padding: 18px 0;
  display: block;
  position: relative;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding-right: 20px;
}

#faq #faq-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 16px;
}

#faq #faq-list p {
  margin-bottom: 20px;
}

#faq #faq-list a.collapse {
  color: #50b7e2;
}

#faq #faq-list a.collapsed {
  color: #000;
}

#faq #faq-list a.collapsed i::before {
  content: "\f055" !important;
}

#footer {
  background: #101522;
  padding: 0 0 25px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #040919;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 26px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
}

#footer .footer-top .footer-info img {
  height: 40px;
  margin-bottom: 10px;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #222636;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #50b7e2;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 2px solid #50b7e2;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: #50b7e2;
  font-size: 18px;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #262c44;
  padding: 10px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #50b7e2;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #50b7e2;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #e0072f;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
#c1 {
  background: linear-gradient(to right, #50b7e2, #62bea0d2, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

#c1:hover {
  background-position: left bottom;
}

@media (min-width: 767px) {
  #subscribe input {
    min-width: 400px;
  }
}

@media (min-width: 768px) {
  #contact .contact-address,
  #contact .contact-phone,
  #contact .contact-email {
    padding: 20px 0;
  }

  #contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
}

@media (min-width: 991px) {
  #schedule .sub-heading {
    width: 75%;
  }
}

@media (min-width: 1024px) {
  #intro {
    background-attachment: fixed;
  }

  #about {
    background-attachment: fixed;
  }

  #subscribe {
    background-attachment: fixed;
  }
}

@media (max-width: 1199px) {
  #header .container {
    max-width: 100%;
  }

  .nav-menu a {
    padding: 8px 4px;
  }
}

@media (max-width: 991px) {
  #header {
    background: rgba(6, 12, 34, 0.98);
    height: 70px;
    padding: 15px 0;
    transition: all 0.5s;
  }

  #nav-menu-container {
    display: none;
  }

  #mobile-nav-toggle {
    display: inline;
  }

  #intro .intro-container {
    top: 70px;
  }

  #intro h1 {
    font-size: 50px;
  }

  #intro p {
    font-size: 16px;
  }

  #schedule .nav-tabs a {
    padding: 8px 60px;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }

  #faq #faq-list a {
    font-size: 18px;
  }

  #faq #faq-list i {
    top: 13px;
  }
}

@media (max-width: 767px) {
  #schedule .nav-tabs a {
    padding: 8px 50px;
  }
}

@media (max-width: 574px) {
  #venue .venue-info h3 {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  #schedule .nav-tabs a {
    padding: 8px 30px;
  }
}

@media (max-width: 460px) {
  #subscribe button {
    margin-top: 10px;
  }
}
@media (max-width: 234px) {
  #subscribe button {
    margin-top: 10px;
  }
}
